*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}


.contact{
    margin-top: 15px;
}

.container{
    max-width: 90%;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.righticon a{
    padding-right: 0;
}

i.fa.fa-envelope {
    margin-left: 12px;
    border: none;
}
.fa.fa-phone{
    border: none;
}

i{
    color: rgba(224, 13, 13, 0.67);
    padding: 7px;
    border: 0.5px solid rgba(224, 13, 13, 0.67) ;
}
span{
    color: black;
    margin-right: 2px;
}

.logo{
    width: 15%;
}
.logo img{
    width: 100%;
}

.menu{
    width: 80%;
    text-align: center;
    margin-top: 60px;
}

a{
    font-family: cursive;
    color: black;
    font-size: 21px;
    text-decoration: none;
    padding-right: 28px;
}

button {
   padding: 12px;
    background-color: red;
    border: none;
    color: white;
    font-family: cursive;
}

.banner{
    background-color: rgb(3, 126, 97);
}

.best{
    width: 65%;
    padding: 62px;
}

.best h1{
    font-size: 70px;
    color: rgb(2, 2, 64);
}
.write p{
    font-family: cursive;
    font-size: 20px;
}
.write span{
        font-family: sans-serif;
        font-size: 29px;
}
.best button{
    margin-top: 43px;
    padding: 15px;
    width: 25%;
}

.myself{
    width: 30%;
}
.myself img{
    width: 100%;
}

.second{
    margin-top: 60px;
    
}

.detail button{
    background-color: rgba(0, 0, 0, 0.09);
}

.detail a{
    color: red;
    margin: 0;
    padding: 0;
}
.detail{
    text-align: center;
}


.detail h2{
    margin: 22px 0 14px 0;
    color: rgb(2, 2, 64);

}

.detail p{
    padding: 0 200px 10px 200px;
    font-family: cursive;
}

.brand{
    margin-top: 25px;
    margin-bottom: 35px;
    text-align: center;
}

.design, .friendly, .guarantee{
    width: 30%;
}

.brand i{
    background-color: rgba(224, 13, 13, 0.67);
    color: white;
    border: none;
}

.brand h3{
    margin: 20px 0 10px;
    color: rgb(2, 2, 64);
}

.brand p{
    font-family: cursive;
    font-size: 12px;
}

footer{
    background-color: rgba(249, 249, 205, 0.88);
}
.about{
    text-align: center;
    margin-bottom: 57px;
}

.about button{
    color: red;
    background-color: #9e9e9e00;
}

.about h4 {
    margin-bottom: 13px;
    font-size: 39px;
    color: rgb(2, 2, 64);
}

p{
    font-family: cursive
}

.alart, .watch, .live{
    width: 32%;
}

.watch img{
    border-radius: 100%;
    height: 55vh;
    width: 100%;
    padding-left: 43px;
}

h5{
    color:rgb(2, 2, 64) ;
    font-size: 20px;
}

h5 i{
    border: none;
}

.us.flex p{
     padding-left: 33px;
}


.get{
    text-align: center;
    background-color: rgb(3, 126, 97);
    
}



.get h1 {
    color: rgb(2, 2, 64);
    font-size: 84px;
    font-family: cursive;
    margin-bottom: 12px;
}

.color{
    width: 49%;
    text-align: center;
    background-color: white;
}
.conta.flex {
    height: 164px;
    margin-bottom: 13px;
}

.get i {
    border: none;
    font-size: 36px;
    padding-bottom: 18px;
}

.get h2{
        color: rgb(2, 2, 64);
        padding-bottom: 20px;
}

.get p{
    font-size: 12px;
}

.abox{
    margin-top: 56px;
    width: 52%;
    position: absolute;
    z-index: 1;
    
}

.bbox{
    position: relative;
    width: 45%;
    left: 54%;
    background-color:rgba(224, 13, 13, 0.67) ;
}
.bbox h1 {
    font-size: 42px;
    margin: 32px 10px;
}

input[type="text"] {
    width: 68%;
    height: 33px;
    margin-bottom: 25px;
}

textarea{
    width: 68%;
}

.bbox button {
    width: 31%;
    border: 1px solid white;
    padding: 9px;
    margin: 8px;
    background: none;
    color:  rgb(2, 2, 64);
}


